<!DOCTYPE html>
<html>
<?
/**
 * @var $name
 * @var $version
 */
?>
<head>
<meta charset="utf-8">
<title><?=$name?></title>
</head>
<body>
<h1><?=$name?></h1>
<p>Version: <?=$version?></p>
</body>
</html>